.banner-bg {
  background-image: url('../assets/img/banner.png'); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
}

.bg-custom-red {
  background-color: #da0021 !important;
}

.btn-outline-custom-red {
  color: #da0021 !important;
  border: 1px solid #da0021 !important;
  background-color: transparent !important;
}

.btn-outline-custom-red:hover {
  background-color: #da0021 !important;
  color: #fff !important;
}

.stylish-link {
  color: #da0021;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.stylish-link:hover {
  color: #a8001a;
  text-decoration: underline;
}

.font-merriweather {
  font-family: 'Merriweather', sans-serif;
}

.custom-card {
  
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem; 

}